{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brimstone College - {%block title%}{%endblock title%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
  </head>
  <body>
      {%if messages%}
      {%for message in messages%}
      <p class="text-white bg-blue-400">{{ message }}</p>
      {%endfor%}
      {%endif%}
    {%include 'navbar.html'%}
    {%block content%}{%endblock content%}
  </body>
<footer class="bg-gray-200 text-center lg:text-left">
  <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-gray-800" href="{% url 'home' %}">Brimstone College</a>
  </div>
</footer>

</html>
