{% extends 'base.html' %}
{%block title%}
Document Submission
{% endblock title %}
{%block content%}
<div class="grid place-items-center">
<form class="p-2 m-2 grid" method="POST" enctype="multipart/form-data">
  <h1 class="font-bold uppercase p-2 m-1 text-2xl text-center">Document submission form</h1>
  {%csrf_token%}
{{form.media}}
<div class="flex flex-wrap items-center">
<label for="application_id" >Application ID</label>
<input type="text" name="application_id" value="" class="border-2 p-2 m-2" required />
</div>
{{form.as_p}}
<button type="submit" class="p-2 m-2 bg-blue-700 text-white font-bold">Submit</button>
</form>
</div>
{%endblock content%}
