{% extends 'base.html' %}
{%load bleach_tags %}
{% block title %}
{{post.title|bleach|truncatechars:20}}
{% endblock title %}
{% block content %}
<div class="grid p-2 m-2 place-items-start">
<h1 class="font-bold p-2 m-2 text-gray-800 text-3xl">
{{post.title|bleach}}
</h1>
<p class="text-gray-700 m-2 p-2">
{{post.content|bleach}}
</p>
<p class="bg-gray-300 text-gray-800 p-2 m-2 rounded">
{{post.author}}
</p>
{%if post.image %}
<img src="{{post.image.url}}" alt="{{post.title}}'s main image"> 
{% endif %}
</div>
{% endblock content %}
